<section class="min-h-screen flex items-center justify-center">
  <header class="text-center space-y-6">
    <h1 class="text-9xl font-extrabold text-gray-800">Not allowed 🚫</h1>

    <%= render "shared/flash" %>

    <%= link_to "Back",
        root_path,
        class: "py-4 px-8 rounded-md bg-gray-600 hover:bg-gray-500 text-gray-100 transition font-semibold" %>

  </header>
</section>